/* service-styles */
.services {
    background-color: var(--light-gray);
    /* Establece el color de fondo del elemento a la variable --light-gray */
    padding: 50px 0;

    /* Añade un espacio interno al elemento con 50 píxeles de padding superior e inferior y 0 píxeles de padding izquierdo y derecho */
    & h2 {
        max-width: 655px;
        /* Establece el ancho máximo del elemento h2 a 655 píxeles */
        margin: 0 auto 70px;
        /* Centra el elemento horizontalmente y establece un margen inferior de 70 píxeles */
        text-align: center;
        /* Centra el texto del elemento horizontalmente */
    }
}

.servicesList {
    display: grid;
    /* Convierte el elemento en un contenedor flexible, permitiendo organizar sus elementos hijos en una fila o columna y controlar su distribución y alineación */
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

@media (min-width:1024px) {
    .servicesList {
        grid-template-columns: repeat(3, 1fr);
        /* Crea una cuadrícula con 3 columnas de igual ancho */
    }
}