/* hero-styles */
.hero {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 60px 0;

    & h1 {
        max-width: 405px;
    }

    & p {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 30px;
    }
}

.heroContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

@media (min-width:786px) {
    .heroContainer {
        flex-wrap: nowrap;

        & h1 {
            font-size: 40px;
        }

        & p {
            font-size: 18px;
        }
    }
}