.teamItem {
    background-color: var(--white);
    box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60/12%);
    padding: 20px;

    & h3 {
        font-size: 20px;

        &+p {
            color: #AAB0BC;
            text-transform: uppercase;
        }
    }

}