.testimonialItem {
    background-color: var(--white);
    padding: 20px;

    & p {
        font-size: 18px;
    }
}

.testimonialAuthor {
    display: flex;
    /* Alinea los elementos al inicio (izquierda) del contenedor flex */
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;

    & img {
        max-width: 70px;
    }
}