@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5EB9F0;
  --paragraph-color: #60697B;
  --heading-color: #343F52;
  --skyblue: #E5F4FD;
  --white: #FFFFFF;
  --light-gray: #F0F8FE;
  --gray: #FEFEFE;
}

body {
  font-family: "Urbanist", sans-serif;
  /* Define la familia tipográfica para el texto, usando Urbanist como primera opción y sans-serif como respaldo */
}


* {
  /* Asegura que el padding y el borde estén incluidos en el ancho y alto total del elemento */
  box-sizing: border-box;
  /* Asegura que el padding y el borde estén incluidos en el ancho y alto total del elemento */
  margin: 0;
  /* Elimina el margen predeterminado de todos los elementos */
  padding: 0;
  /* Elimina el padding predeterminado de todos los elementos */
}

h1 {
  color: var(--heading-color);
  font-size: 54px;
  font-weight: 600;
  line-height: 62px;

  & span {
    color: var(--primary-color);
  }
}

h2 {
  color: var(--heading-color);
  font-size: 42px;
  /* Define el tamaño de la fuente del texto a 42 píxeles */
  font-weight: 600;
  line-height: 50px;
  /* Define el espacio vertical entre líneas de texto, estableciendo una altura de 50 píxeles entre cada línea */
}

h3 {
  color: var(--heading-color);
  /* Establece el color del texto del elemento a la variable --heading-color */
  font-size: 23px;
  /* Define el tamaño de la fuente del texto a 23 píxeles */
  font-weight: 600;
  line-height: 32px;
  /* Define el espacio vertical entre líneas de texto, estableciendo una altura de 32 píxeles entre cada línea */
}

img {
  max-width: 100%;
}

p {
  color: var(--paragraph-color);
  /* Establece el color del texto del elemento a la variable --paragraph-color */
  font-size: 17px;
  /* Define el tamaño de la fuente del texto a 17 píxeles */
  line-height: 29px;
  /* Define el espacio vertical entre líneas de texto, estableciendo una altura de 29 píxeles entre cada línea */
}


ul {
  list-style: none;
  /* Elimina los marcadores o viñetas que aparecen por defecto en las listas, dejándolas sin ningún estilo de marcador */
  display: flex;
  /* Convierte el elemento en un contenedor flexible, permitiendo organizar sus elementos hijos en una fila o columna y controlar su distribución y alineación */
  gap: 30px;
  /* Establece un espacio entre los elementos flexibles dentro del contenedor flexible */

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    /* Define el grosor o peso de la fuente, donde 600 representa un peso semi-negrita, haciendo que el texto sea más grueso que el normal (400) pero menos que negrita completa (700) */
    text-decoration: none;
    /* Elimina el subrayado que se muestra por defecto en los enlaces */
  }
}
.active {
  display: flex;
  position: absolute;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  height: 100vh;
  flex-direction: column;
  padding: 50px 0 20px;
  text-align: center;
  width: 100%;
}

.container {
  max-width: 1180px;
  /* Define el ancho máximo del elemento main a 1180 píxeles, lo que significa que no podrá crecer más allá de este tamaño aunque haya espacio disponible */
  margin: 0 auto;
  /* Centra horizontalmente el elemento estableciendo un margen automático igual en los lados izquierdo y derecho, mientras mantiene 0 margen en la parte superior e inferior */
  padding: 0 15px;
  /* Añade un espacio interno al elemento con 0 píxeles de padding superior e inferior y 15 píxeles de padding izquierdo y derecho */
}

