.nav {
    padding: 20px 0;
    /* Añade un espacio interno al elemento con 20 píxeles de padding superior e inferior y 0 píxeles de padding izquierdo y derecho */
}

.navContainer {
    display: flex;
    /* Convierte el elemento en un contenedor flexible, permitiendo organizar sus elementos hijos en una fila o columna y controlar su distribución y alineación */
    justify-content: space-between;
    /* Distribuye los elementos flexibles de manera que haya un espacio igual entre ellos, con el primer elemento al inicio y el último al final */

    & ul {
        display: none;

        &.active {
            display: flex;
            position: absolute;
            background-color: var(--primary-color);
            top: 0;
            left: 0;
            height: 100vh;
            flex-direction: column;
            padding: 50px 0 20px;
            text-align: center;
            width: 100%;
        }

        & a {
            color: var(--white);
        }

        & span {
            font-weight: 600;
            position: absolute;
            right: 10px;
            top: 20px;
        }
    }
}

@media (min-width:786px) {
    .btnNav {
        display: none;
    }

    .navContainer {
        & ul {
            display: flex;

            & a {
                color: var(--paragraph-color);
            }
        }
    }
}